<div id="homePage-container">

    <img src="/images/beer.png" alt="beer" id="home-beerImg">

    <div id="links-wrapper">
        <p class="para-link">
            <a href="/beers">Check the bears!</a>
        </p>
          <p class="para-link">
            <a href="/random-beer">Check a random beer!</a>
        </p>
    </div>
</div>